@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

.font-roboto {
	font-family: 'Raleway', sans-serif;
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
	border-radius: 10px;
	background-color: #f5f5f5;
}

body::-webkit-scrollbar {
	width: 8px;
	background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
	background-color: #a2a2a2;
}

.animateFadeIn {
	animation: fadeIn 0.5s;
	-webkit-animation: fadeIn 0.5s;
	-moz-animation: fadeIn 0.5s;
	-o-animation: fadeIn 0.5s;
	-ms-animation: fadeIn 0.5s;
}

.animateFadeInSlow {
	animation: fadeIn 10s;
	-webkit-animation: fadeIn 10s;
	-moz-animation: fadeIn 10s;
	-o-animation: fadeIn 10s;
	-ms-animation: fadeIn 10s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.notification::-webkit-scrollbar {
	width: 4px;
}

.notification::-webkit-scrollbar-track {
	background-color: #f5f5f5;
}

.notification::-webkit-scrollbar-thumb {
	background-color: #a2a2a2;
	border-radius: 2px;
}

.notification::-webkit-scrollbar-thumb:hover {
	background-color: #555; /* set the color of the thumb on hover */
}

.css-m9glnp-MuiPaper-root-MuiDialog-paper::-webkit-scrollbar {
	width: 8px;
	background-color: #f5f5f5;
}

.css-m9glnp-MuiPaper-root-MuiDialog-paper::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
	border-radius: 10px;
	background-color: #f5f5f5;
}

.css-m9glnp-MuiPaper-root-MuiDialog-paper::-webkit-scrollbar-thumb {
	background-color: #a2a2a2;
}

.MuiSvgIcon-fontSizeInherit {
	color: white;
}
